.token {
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: var(--prism-comment);
    font-style: italic;
  }

  &.punctuation {
    color: var(--prism-punctuation);
  }

  &.string,
  &.char,
  &.attr-value,
  &.inserted {
    color: var(--prism-string);
  }

  &.keyword,
  &.atrule,
  &.important {
    color: var(--prism-keyword);
    font-weight: bold;
  }

  &.function,
  &.builtin {
    color: var(--prism-function);
  }

  &.class-name,
  &.namespace,
  &.class,
  &.id {
    color: var(--prism-class);
  }

  &.variable {
    color: var(--prism-variable);
  }

  &.property {
    color: var(--prism-property);
  }

  &.selector {
    color: var(--prism-selector);
    font-weight: bold;
  }

  &.constant,
  &.attr-name {
    color: var(--prism-attr-name);
  }

  &.number,
  &.boolean,
  &.symbol,
  &.deleted {
    color: var(--prism-number);
  }

  &.tag {
    color: var(--prism-tag);
  }

  &.operator,
  &.entity,
  &.url,
  &.regex {
    color: var(--prism-operator);
  }

  &.important,
  &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }
}