:root {
  --prism-bg: #ffffff;
  --prism-text: #1a1f23;
  --prism-border: #e1e4e8;
  --prism-scrollbar: #0000000F;

  --prism-comment: #6b7280;
  --prism-string: #0b7f2f;
  --prism-punctuation: #4b5563;
  
  --prism-keyword: #e91e63;
  --prism-function: #2563eb;
  --prism-class: #0891b2;
  --prism-variable: #ea580c;
  --prism-number: #7c3aed;
  --prism-tag: #be185d;
  --prism-attr-name: #059669;
  --prism-property: #0284c7;
  --prism-selector: #9333ea;
  --prism-operator: #dc2626;
  --prism-line-number: #4b5563;

  --prism-toolbar-bg: #f8f9fa;
  --prism-toolbar-text: #4b5563;
  --prism-toolbar-border: #e1e4e8;
  --prism-btn-hover: #0000000F;
}

[data-bs-theme="dark"] {
  --prism-bg: #000000;
  --prism-text: #e0dfd0;
  --prism-border: #222222;
  --prism-scrollbar: #FFFFFF0F;

  --prism-comment: #828282;
  --prism-string: #faff00;
  --prism-punctuation: #e0dfd0;

  --prism-keyword: #ff0077;
  --prism-function: #00ffaa;
  --prism-class: #00e5ff;
  --prism-variable: #ffaa00;
  --prism-number: #cc66ff;
  --prism-tag: #ff0055;
  --prism-attr-name: #50fa7b;
  --prism-property: #00bfff;
  --prism-selector: #3691ff;
  --prism-operator: #ff22aa;
  --prism-line-number: #808080;

  --prism-toolbar-bg: #0a0a0a;
  --prism-toolbar-text: #808080;
  --prism-toolbar-border: #222222;
  --prism-btn-hover: #FFFFFF0F;
}