@import "modules/prism.scss";

// Compatibilidad con Bootstrap theme
[data-bs-theme="dark"] {
  code[class*="language-"],
  pre[class*="language-"] {
    color: #c3cee3;
    background: #16191b;
  }

  pre[class*="language-"] {
    scrollbar-color: #888 #16191b;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #16191b;
  }
}

[data-bs-theme="dark"] .token.keyword { color: #c792ea; }
[data-bs-theme="dark"] .token.string { color: #c3e88d; }
[data-bs-theme="dark"] .token.comment { color: #546e7a; font-style: italic; }